.table-view{
    -fx-font-family: Arial, sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #f0f0f0;
}

.label{
    -fx-font-family: Arial, sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #f0f0f0;
}
#btnSaveVariable{
    -fx-background-image: url("../../resources/images/save.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnViewRules{
    -fx-background-image: url("../../resources/images/chart_line.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnRules{
    -fx-background-image: url("../../resources/images/chart_organisation.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnCV{
    -fx-background-image: url("../../resources/images/users_men_women.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnAddRule{
    -fx-background-image: url("../../resources/images/chart_organisation_add.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnEditRule{
    -fx-background-image: url("../../resources/images/chart_organisation.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnDeleteRule{
    -fx-background-image: url("../../resources/images/chart_organisation_delete.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#addRuleList{
    -fx-background-image: url("../../resources/images/toggle_expand.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnSaveMF{
    -fx-background-image: url("../../resources/images/Save.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnAddMF{
    -fx-background-image: url("../../resources/images/Chart-Bar-Add.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnDeleteMF{
    -fx-background-image: url("../../resources/images/bullet_delete.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnAddVariable{
    -fx-background-image: url("../../resources/images/Chart-Line-Add.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnEditVariable{
    -fx-background-image: url("../../resources/images/Calendar-Edit.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnDeleteVariable{
    -fx-background-image: url("../../resources/images/Chart-Line-Delete.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#colEndDate{
    -fx-alignment: center;
}
#colStartDate{
    -fx-alignment: center;
}

#btnLinguisticVariables{
    -fx-background-image: url("../../resources/images/Candlestickchart.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnAddWorkers{
    -fx-background-image: url("../../resources/images/Walk.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnUsersSettings{
    -fx-background-image: url("../../resources/images/User.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnProjectSettings{
    -fx-background-image: url("../../resources/images/Application-View-Tile.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}


#btnAddProject{
    -fx-background-image: url("../../resources/images/Page-Add.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnEditProject{
    -fx-background-image: url("../../resources/images/Page-Edit.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnDeleteProject{
    -fx-background-image: url("../../resources/images/Page-Delete.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnAddTask{
    -fx-background-image: url("../resources/images/Calendar-Add.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnEditTask{
    -fx-background-image: url("../resources/images/Calendar-Edit.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnDeleteTask{
    -fx-background-image: url("../resources/images/Calendar-Delete.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}


#btnAddUser{
    -fx-background-image: url("../resources/images/User-Add.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnEditUser{
    -fx-background-image: url("../resources/images/User-Edit.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnDeleteUser{
    -fx-background-image: url("../resources/images/User-Delete.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
